[Hazelcast]
; use hazelcast in standalone mode or with cluster (as client)?
standalone=true

; cluster options (if standalone != true)
ip=127.0.0.1
port=5701
user=hz-cluster
; NOTE: group password is outdated since hazelcast 3.11 (there is a new token instead)
password=<Password>
; hazelcast.application.validation.token
token=hz-cluster

;logging options
logTopicName=log-proxy-1